# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/
/build/
/dependency/.spack-env/
/dependency/spack.lock
/dependency-profile/.spack-env/
/dependency-profile/spack.lock
/.idea/
/dependency/venv/
/h5bench/cfg/sync_1_4_libdarshan/sync-write-1d-contig-contig/output.csv
/h5bench/cfg/sync_1_4_libdarshan/sync-write-1d-contig-contig/test.h5
/analysis/.idea/
/h5bench/.idea/inspectionProfiles/
/h5bench/.idea/
/build-profile/
/external/h5bench/build/
/h5intent/h5bench_conf/.ipynb_checkpoints/
/venv/
/venv-lassen/
/external/h5bench/build/
/runtime-logs/
/external/h5bench/build/
/h5intent/intent_generator/.ipynb_checkpoints/
/logs/h5bench_confs/lassen/sync_none_intent_1_40/sync-write-1d-strided-large-col-h5bench.log
/logs/h5bench_confs/lassen/sync_none_intent_1_40/sync-write-1d-strided-large-h5bench.log
/logs/h5bench_confs/lassen/sync_none_intent_1_40/sync-write-1d-strided-medium-col-h5bench.log
/logs/h5bench_confs/lassen/sync_none_intent_1_40/sync-write-1d-strided-small-h5bench.log
/presentation/.ipynb_checkpoints/hug23-checkpoint.ipynb
